/*Preloader css*/
.waiter-overlay {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*App custom color theme*/
:root {
  --f7-theme-color: #8a705a;
  --f7-theme-color-rgb: 138, 112, 90;
  --f7-theme-color-shade: #715c4a;
  --f7-theme-color-tint: #a0846d;
}

/*Post cards UI*/
.card-footer{
  display: block;
}

.card-subject {
  font-size: 14px;
  font-weight: 500;
}

.card-date {
  font-size: 13px;
  color: #8e8e93;
}

/*Submit a post tab*/
.demo-list-icon,
.icon-f7 {
  background: #ccc;
  display: block;
  position: relative;
}

.ios .demo-list-icon {
  width: 29px;
  height: 29px;
  border-radius: 6px;
  box-sizing: border-box;
}

.md .demo-list-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.aurora .demo-list-icon {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

/*fileInput shiny input container*/
.shiny-input-container {
  padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
}

.no-white-space{
  white-space: unset !important;
}


